
body{
    background-color: cornsilk;
    margin: 15mm 15mm 15mm 15mm;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

ul{
   list-style: none;
}

li{
  list-style-type: circle;
  margin-left: 25px;
}

.column{
    float:left;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

div{
  padding: 3mm 4mm 3mm 3mm;
  margin: 3%, 3%, 3%, 3%;
}

.outline{
  background-color: white;
  border-radius: 25px;
  padding: 0mm 3mm 5mm 3mm;
  border: 1px solid; 
  margin-top: 8mm;
}

a{
  color: black;
  text-decoration: none;
}

h4{
  margin-left: 8mm;
  text-decoration:none;
  font-weight: normal;
  line-height:5%;
}

h5{
  margin-left: 15mm;
  font-style: italic;
  font-weight: normal;
  line-height: 5%;
  padding: 0mm 0mm 0mm 0mm;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .column {
    width: 45%;
  }
}
