
* {
    margin: 0px;
    padding: 0px;
/*     font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;  */
    font-family: cursive;
}

body, html{
    height: 100%;
    display: grid;
    background-image: linear-gradient(aliceblue, pink);
}

#content{
    text-align: center;
    margin: auto;
}


#email, #linkedin{
    
}

#name{
    font-size: 50px;
    font-weight: 700;
}

.fas, .fa {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 5px #A785EC;
}


#headshot{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px double white;
}

a{
    color: black;
    text-decoration: underline solid navy;
}

#icons{
    margin-top: 10px;

}

#icons li{
    display: inline-block;
    padding: 5px;
}

ul{
    list-style-type: none;
}

